<h2>Detalle de la asignatura</h2>

<div class="detalle">

  <div class="foto">
    <img src="/asignatura.png" alt="Foto asignatura">
  </div>

  <div class="info">

    @if(asignatura){
      <div class="campo">
        <div class="label">ID</div>
        <div class="valor">{{ asignatura.id }}</div>
      </div>

      <div class="campo">
        <div class="label">Nombre</div>
        <div class="valor">{{ asignatura.nombre }}</div>
      </div>

      <div class="campo">
        <div class="label">Apellidos</div>
        <div class="valor">{{ asignatura.apellidos }}</div>
      </div>

      <div class="campo">
        <div class="label">iPasen</div>
        <div class="valor">{{ asignatura.ipasen }}</div>
      </div>
    }@else {
      <p>Cargando asignatura...</p>
    }

  </div>
</div>

<button class="btn-volver" [routerLink]="['/asignaturas']">
  Volver
</button>

