<h2>Listado de matrículas</h2>

<table class="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Curso</th>
      <th>Nota media</th>
      <th>Alumno</th>
      <th>Asignatura</th>
      <th>Detalle</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let matricula of matriculas">
      <td>{{ matricula.idMat }}</td>
      <td>{{ matricula.curso }}</td>
      <td>{{ matricula.notaMedia }}</td>
      <td>{{ matricula.alumno.nombre }}</td>
      <td>{{ matricula.asignatura.nombre }}</td>
      <td><a [routerLink]="['/matricula',matricula.idMat]" class="btn">Ver</a></td>
    </tr>
  </tbody>
</table>