.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabla th {
  background-color: #1976d2;
  color: white;
}